/* ul li,
ol li {
  list-style: none;
}

a {
  color: inherit !important;
  text-decoration: none;
}

#blog_secrets {
  width: 100%;
  height: auto;
}

#blog_secret_lists {
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0px));
}

#blog_secret_lists .blog_secret_list {
  position: relative;
  margin: 6px 4px;
  width: calc(100% - 8px);
  height: 250px;
  border-radius: 8px;
  background: var(--card-bg);
  box-shadow: var(--card-box-shadow);
  -webkit-box-shadow: var(--card-box-shadow);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  overflow: hidden;
}

#blog_secret_lists .blog_secret_list .secret_list_bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  opacity: 0.8;
  transition: all 0.3s, filter 375ms ease-in 0.2s;
  transform: translate3d(-10px, 0, 0);
  object-fit: cover;
}

#blog_secret_lists .blog_secret_list .blog_secret_list_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  color: #fff;
  z-index: 1;
}

#blog_secret_lists .blog_secret_list p.blog_secret_list_title {
  position: relative;
  margin: 0px;
  padding: 8px 0;
  width: 100%;
  font-weight: bold;
  font-size: 1.65em;
  line-height: 1.5;
  -webkit-line-clamp: 2;
}

#blog_secret_lists .blog_secret_list a {
  position: absolute;
  top: 0;
  left: 0;
  color: inherit;
  display: flex;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1000;
} */


#secret-group-main{
  overflow: hidden;
}

#secret-group-main .gallery-group:last-child {
  margin-bottom: 35px;
}
