#page-header.nav-visible:not(.fixed) #nav {
    top: -60px !important;
}


/* #page-header.nav-visible:not(.fixed)+.layout>.aside-content>.sticky_layout {
    top: 70px !important;
} */

@media screen and (min-width: 900px) {
    #aside-content .sticky_layout {
        top: 70px !important;
    }
}

#nav.light,
#nav #weather.light {
    color: var(--light-grey);
}

#nav.bgMask {
    backdrop-filter: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#nav.dark,
#nav #weather.dark {
    color: var(--font-color);
}


/* 导航栏做居中处理 */


/* #page-header.nav-fixed #nav */

#nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    background: transparent;
    /* transition: all 0s !important; */
    transition: background 0.8s !important;
}

#nav a {
    color: inherit;
    transition: color .4s !important;
}

#nav #blog-info {
    position: absolute;
    top: 0;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    width: auto;
    height: calc(100% - 10px);
    color: inherit;
    box-sizing: border-box;
    /* transition: all 0.5s; */
}

#nav #blog-info a {
    justify-content: center;
    align-items: center;
    height: 80% !important;
}

#nav #blog-info a>span {
    display: block;
    padding-top: 5px;
    box-sizing: border-box;
}


/* 天气 */

#nav #weather {
    position: absolute;
    top: 10px;
    left: 0;
    height: 40px;
    transition: left 0.5s;
    cursor: pointer;
}

#nav #weather #tp-weather-widget,
#nav #weather #tp-weather-widget .sw-container {
    display: flex;
    height: 100%;
    color: inherit;
}

#nav #weather #tp-weather-widget .sw-container .sw-bar-slim.EKHJj {
    height: 100%;
    /* color: var(--light-grey); */
    color: inherit;
}

#nav #weather #tp-weather-widget .sw-container .sc-gisBJw a {
    color: #eee;
}

#nav #weather #tp-weather-widget .sw-container .sc-gisBJw a:hover {
    color: #fff;
}


/* 768px + nav菜单 */

#nav #menus,
#nav #search-button,
#nav #blog-info a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#nav #menus .menus_items,
#nav #menus .menus_items .menus_item>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav #menus .menus_items {
    width: 100%;
    height: 100%;
}

#nav #menus .menus_items .menus_item>a {
    padding: 0px;
    min-height: 24px;
}

#nav #menus .menus_items .menus_item>a>span {
    margin-top: 3px;
    font-size: 16px;
    line-height: 1;
}


/* 768px - nav菜单 */

#nav #menus #toggle-menu {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    height: 40px;
}

#nav #menus #toggle-menu>a.site-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 26px;
    height: 26px;
}

#nav #blog-info a {
    padding: 0px 14px;
}

#nav #search-button {
    position: absolute;
    top: 0;
    right: 36px;
}

#nav #search-button>a.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 26px;
    height: 26px;
    font-size: 18px;
}


/* 去除导航栏选项中底下的蓝条 */

#nav *::after {
    background-color: transparent !important;
}

#nav .menus_item>a>span,
#nav .menus_item>a>i,
#nav #search-button {
    transition: all 0.15s;
}


/* 导航栏菜单鼠标移入字体放大 */

#nav #site-name:hover,
#nav #menus .menus_item:hover>a span,
#nav #menus .menus_item:hover>a i,
#nav #search-button:hover {
    font-size: 18px;
}

@media screen and (min-width: 769px) {
    #nav #menus #toggle-menu {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    #nav {
        justify-content: flex-end;
    }
    #nav #menus .menus_items {
        display: none;
    }
    #nav #search-button {
        right: 48px;
    }
}

@media screen and (max-width: 600px) {
    .sw-container .sc-gisBJw.jEbFAF {
        height: 100vh !important;
    }
}