div#runtime {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: #fff;
    padding: 0 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

[data-theme="dark"] div#runtime {
    color: #28b4c8;
    box-shadow: 0 0 5px rgba(28, 69, 218, 0.71);
}


/* ---------------------------------------------------------- */

.card-widget.card-times .item-headline {
    display: none;
}

.card-widget.card-times {
    --calendar-bg: rgb(244 244 244 / 70%);
    padding: .8rem !important
}

[data-theme='dark'] .card-widget.card-times {
    --calendar-bg: rgba(46, 48, 51, 0.7);
}

.card-times a {
    color: var(--font-color)
}

#calendar-main .calendar-rh a {
    color: var(--font-color);
    opacity: 0.7;
}

#aside-calendar {
    height: fit-content;
    display: flex
}

#aside-calendar {
    background: var(--calendar-bg);
    border-radius: 8px;
    padding: .8rem
}

#aside-area-top {
    display: flex
}

#aside-calendar {
    margin-top: .5rem
}

#aside-time-left,
#aside-time-right {
    background: var(--calendar-bg);
    border-radius: 8px;
    padding: .5rem;
    display: flex;
    justify-content: center;
    /* font-size: 1.3rem;
  line-height: 2rem; */
    font-size: 20px;
    line-height: 21px;
}

#aside-time-left span {
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aside-time-left span:nth-child(2n) {
    padding-top: 0.15rem;
}

#aside-time-right {
    padding-top: calc(0.5rem + 4px);
}


/* 64% */

#aside-time-left {
    width: calc(58% - 0.5rem);
}


/* 36% */

#aside-time-right {
    width: 42%;
    margin-left: .5rem
}

#calendar-area-left {
    height: 100%;
    width: 30%
}

@media screen and (min-width: 1032px) {
    #aside-calendar #calendar-area-left #calendar-animal,
    #aside-calendar #calendar-area-left #calendar-lunar {
        letter-spacing: 0px !important;
    }
}

@media screen and (max-width: 1031px) {
  #aside-calendar #calendar-area-left #calendar-animal,
  #aside-calendar #calendar-area-left #calendar-lunar {
      letter-spacing: 5px !important;
  }
}

@media screen and (max-width: 900px) and (min-width:264px) {
  #aside-calendar #calendar-area-left #calendar-animal,
  #aside-calendar #calendar-area-left #calendar-lunar {
      letter-spacing: 0px !important;
  }
}
@media screen and (max-width: 263px) {
  #aside-calendar #calendar-area-left #calendar-animal,
  #aside-calendar #calendar-area-left #calendar-lunar {
      letter-spacing: 5px !important;
  }
}

#calendar-area-left #calendar-animal {
    margin-bottom: 5px;
}

#calendar-area-right {
    min-height: 100%;
    width: 70%
}

#calendar-area-right #calendar-main {
    height: calc(100% - 1.1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calendar-month,
#calendar-week {
    height: 1.1rem;
    font-size: 1.1rem;
    color: var(--btn-bg);
    font-weight: 700;
    margin-bottom: .5rem;
    align-items: center;
    display: flex
}

#calendar-month {
    margin-left: calc(7.14% - .5rem)
}

#calendar-date {
    height: 3rem;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    align-items: center;
    display: flex
}

#calendar-animal,
#calendar-lunar {
    min-height: 1.5rem;
    font-size: .9rem;
    align-items: center;
    display: flex;
    line-height: 1.2;
}

#calendar-main a {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center
}

#calendar-main a.now {
    background: var(--btn-bg);
    color: #fff
}

.calendar-r0,
.calendar-r1,
.calendar-r2,
.calendar-r3,
.calendar-r4,
.calendar-rh {
    height: 1.2rem;
    display: flex
}

.calendar-d0,
.calendar-d1,
.calendar-d2,
.calendar-d3,
.calendar-d4,
.calendar-d5,
.calendar-d6 {
    width: 14.28%;
    display: flex;
    justify-content: center;
    align-items: center
}
